.item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 447px;
}

.image {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: var(--background-tertiary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 17px;
}

.title__skeleton {
  width: 356px;
  height: 19px;
  background-color: var(--background-tertiary);
}

.author__skeleton {
  width: 271px;
  height: 19px;
  background-color: var(--background-tertiary);
}

.album__skeleton {
  width: 305px;
  height: 19px;
  background-color: var(--background-tertiary);
}
