.like_dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 26%;
}

.like {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
  padding: 5px;
}

.like:hover svg {

  stroke: var(--hover-secondary);
  cursor: pointer;
}

.like:active svg {
  fill: var(--active-tertiary);
  stroke: var(--active-stroke);
  cursor: pointer;
}

.dislike {
  composes: like;
  margin-left: 28.5px;
}

.like__svg {
  cursor: pointer;
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: var(--svg-secondary);
}

.dislike__svg {
  composes: like__svg;
  width: 14.34px;
  height: 13px;
}

.active {
  fill: var(--active-tertiary);
  stroke: var(--active-stroke);
  cursor: pointer;
}

.active:hover svg {
  fill: var(--active-tertiary);
  stroke: var(--active-stroke);
  cursor: pointer;
}