.light {
    --background-primary: #fff;
    --background-secondary: #F6F5F3;
    --background-tertiary: #F6F4F4;
    --background-bar: rgba(255, 255, 255, 0.5);
    --background-progress: #D9D9D9;
    --svg-primary: #b1b1b1;
    --svg-secondary: #b1b1b1;
    --color-burger: #000;
    --text-primary: #000;
    --text-secondary: #b1b1b1;
    --hover-primary: #580EA2;
    --hover-secondary: #707070;
    --active-primary: #AD61FF;
    --active-secondary: #000;
    --active-tertiary: #AD61FF;
    --active-stroke: #AD61FF;
    --volume-primary: #b1b1b1;
    --volume-secondary: #c4c4c4;
}

.dark {
    --background-primary: #181818;
    --background-secondary: #1c1c1c;
    --background-tertiary: #313131;
    --background-bar:rgba(28, 28, 28, 0.5);
    --background-progress: #2E2E2E;
    --svg-primary: #d9d9d9;
    --svg-secondary: #696969;
    --color-burger: #d3d3d3;
    --text-primary: #FFF;
    --text-secondary: #4e4e4e;
    --hover-primary: #D9B6FF;
    --hover-secondary: #acacac;
    --active-primary: #AD61FF;
    --active-secondary: #fff;
    --active-tertiary: #696969;
    --active-stroke: #fff;
    --volume-primary: #fff;
    --volume-secondary: #797979;
}